services:
    - App\Model\Log\LogImporter
    database.default.connection:
        setup:
            - query('PRAGMA journal_mode=WAL;')
            - query('PRAGMA synchronous=NORMAL;')

search:
    -
        in: %appDir%/Api/Controller
        classes:
            - *Controller
    -
        in: %appDir%/Api/Facade
        classes:
            - *Facade
    -
        in: %appDir%/Command
        classes:
            - *Command
    -
        in: %appDir%/Model/Database/Repository
        classes:
            - *Repository